<head>
  <meta name="viewport" content="width=device-width; initial-scale=1" charset="UTF-8" />
</head>

<div id="outerContainer" class="container-fluid">
  <div class="row no-gutter">
    <div id="dialogSummaryList" class="col-xs-3 app-left-hand-side">
      <app-dialog-summary-list
        [reviews] = "reviews"
        [selectedReview]="selectedReview"
        (selectReview)="select($event)"
      >
      </app-dialog-summary-list>
    </div>
    <div class="col-xs-9 col-xs-auto" id="innerContainer" style="padding-left:1em;">
      <div id="userInformation" style="padding-left:1em;" class="row">
        <h4>User Information Panel</h4>
        <app-user-information
          [userId] = "selectedReview.userId">
        </app-user-information>
      </div>
      <div id="dialogInformation" style="padding-left:1em;" class="row">
        <h4>Dialog Information Panel for {{selectedReview?.dialogInformation}}</h4>
        <app-dialog-information
          [dialog] = "selectedReview.dialogInformation"
        >
        </app-dialog-information>
      </div>
      <div id="dialogActions" class="row">
        <app-dialog-actions
          [dialog] = "selectedReview"
        >
        </app-dialog-actions>
      </div>
    </div>
  </div>
</div>
