/* You can add global styles to this file, and also import other style files */

.dialogSummary {
  width: 100%;
  user-select: none;
}

.dialogSummary > * {
  user-select: none;
}

div.border {
  /* border: 2px yellow solid; */
  border-radius: 5px;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.text-shrink {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

ul {
  list-style:none;
  padding-left:0;
}
