<div class="row no-gutter dialogSummary">

  <div class="col-xs-3 img-col">
    <img class="user-icon-image" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" />
  </div>
  <div class="col-xs-6 col-xs-auto name-col">
    <label class="text-shrink">{{review.userId}}</label>
    <label class="text-shrink">
      {{review.dialogInformation.dialogHistory[0].text}}
    </label>
  </div>
  <div class="col-xs-3" style="text-align: right;">
    <label>9:40am</label>
    <div>!!!</div>
  </div>

</div>
